{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'css/all.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icons/logo.png' %}">
    <title>Bai travel</title>
</head>
<body id="body">
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="index.html" class="header__logo">
                    <img src="{%static 'img/лого.png' %}" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <div class="header__menu">
                    <ul class="header__list">
                        <li class="header__link">
                            <a href="{% url 'main' %}" class="header__link header__link active">
                                ГЛАВНАЯ
                            </a>
                        </li>
                        <li class="header__link">
                            <a href="{% url 'tours' %}" class="">
                                ТУРЫ
                            </a>
                        </li>
                        <li class="header__link">
                            <a href="{% url 'photos' %}" class="">
                                БЛОГ
                            </a>
                        </li>
                        <li class="header__link">
                            <a href="{% url 'about_us' %}" class="">
                                О НАС
                            </a>
                        </li>
                        <li class="header__link header__btn">
                            <a href="http://nurdoolot.pythonanywhere.com/admin" class="">
                                Войти
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>



<div class="container">
    <!-- active -->
    <div id="client-form" class="client-form">
        <form action="" class="client-form__container">
            <div class="client-form__close"></div>
            <div class="client-form__title">Заполните анкету</div>
            <div class="client-form__line line"></div>
            <label for="" class="client-form__label">Введите ФИО</label>
            <input type="text" class="client-form__input input">
            <label for="" class="client-form__label">Введите вашу электронную почту</label>
            <input type="text" class="client-form__input input">
            <label for="" class="client-form__label">Введите номер телефона</label>
            <input type="text" class="client-form__input input">
            <button id="client-form__button" class="client-form__button">Отправить</button>
        </form>
    </div>

<div class="tour__container">

    <div class="routs">
        <a href="{% url 'main' %}" class="routs__item">
            Главная 
        </a>
        <a href="{% url 'tours' %}" class="routs__item">
            Туры
        </a>
        <a href="#" class="routs__item">
             Grand Park Lara
        </a> 
    </div>

    <div class="tour__name">Grand Park Lara</div>
    <div class="tour__location">
        <span class="icon tour__icon">
            <img src="img/icons/location.svg" >
        </span>
        Турция, Анталья
    </div>
    <div class="tour__body">
        <div class="tour__img-block">
            <div class="tour__main-img">
                <img src="{% static 'img/фото.jpg' %}" alt="">
            </div>
            <div class="tour__sub-imgs">
                <div class="tour__inner-img">
                    <div class="tour__sub-img">
                    <img src="img/фото.jpg" alt="">
                    </div>
                </div>
                <div class="tour__inner-img">
                    <div class="tour__sub-img">
                        <img src="{% static 'img/фото.jpg' %}" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="tour__info-block">
            <div class="tour__info-title">Информация о туре</div>
            <div class="tour__schedule">
                <div class="tour__schedule-item">
                    <div class="tour__schedule-title">Туда</div>
                    <div class="tour__schedule-date">1 февр. 2024, чт</div>
                </div>
                <div class="tour__schedule-item">
                    <div class="tour__schedule-title">Обратно</div>
                    <div class="tour__schedule-date">6 февр. 2024, вт</div>
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    <span class="icon tour__icon">
                        <img src="{% static 'img/icons/calendar.svg' %}">
                    </span>
                    Длительность
                </div>
                <div class="tour__info-primary-text">
                    5 дней
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    <span class="icon tour__icon">
                        <img src="{%static 'img/icons/2users.svg' %}">
                    </span>
                    Количество человек
                </div>
                <div class="tour__info-primary-text">
                    <input type="number" placeholder="1" class="tour__input">
                </div>
            </div>
            <div class="tour__notice-text">осталось 6 человек</div>         
            <div class="tour__line line"></div>
    
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    Стоимость тура
                </div>
                <div class="tour__info-primary-text">
                    3000 сом
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    Скидка
                </div>
                <div class="tour__info-secondary-text">
                    -800 сом
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__total-text">Итого</div>
                <div class="tour__total-price">2200 сом</div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    Рассрочка
                </div>
                <div class="tour__info-secondary-text">
                    800 сом/месяц
                </div>
            </div>
            <button type="button" class="tour__btn">Получить бесплатную консультацию</button>
        </div>

         <div class="tour__description">
            <div class="tour__description-title">Программа тура</div>
            <div class="tour__line line"></div>
            <div class="tour__description-sub-title">День1</div>
            <div class="tour__description-sub-date">Бишкек — Кызарт – Килемче</div>
            <div class="tour__description-sub-text">
                Бишкек – Кызарт на такси или мы можем вам организовать трансфер для вас индивидуально.
                Обед в селе Кызарт . После обеда выезд на Килемче на лошадях. По дороге будет виден красивый пейзаж наших красивых гор. По прибытию у вас будет свободное время для прогулки по местностям и посмотреть жизнь местных кочевников. Килемче находится на высоте 2500 м над уровнем моря. Ужин и ночлег в юртах.
            </div>
            <div class="tour__description-sub-text">
                Бишкек – Кызарт на такси или мы можем вам организовать трансфер для вас индивидуально.
                Обед в селе Кызарт . После обеда выезд на Килемче на лошадях. По дороге будет виден красивый пейзаж наших красивых гор. По прибытию у вас будет свободное время для прогулки по местностям и посмотреть жизнь местных кочевников. Килемче находится на высоте 2500 м над уровнем моря. Ужин и ночлег в юртах.
            </div>
        </div>

    </div>
    
</div>    
</div>

<script src="js/style.js"></script>
</body>
</html>